$primary-color: #000;
$secondary-color: #fff;
$hightlight-color: #f0f0f0;


.about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4em;

    @media (max-width: 768px) {
        padding-bottom: 2em;
    }

    .our-approach {

        h2 {
            font-size: 30px;
            margin-bottom: 10px;
    
            @media (max-width: 768px) {
                font-size: 25px;
            }
        }
    
        p {
            font-size:18px;
            margin-bottom: 10px;
            text-align: left;
            font-weight: 100;
            line-height: 1.3;
    
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }


    

    .our-methods {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            gap: 20px;

            @media (max-width: 768px) {
                width: 100%;
                align-items: center;
            }

            .btn {
                border: none;
                padding: 20px 30px;
                cursor: pointer;
                font-size: 2em;
                white-space: nowrap;
                border-radius: 10px;
                transition: background-color 0.3s ease, color 0.3s ease;
                transform: translateY(50px);
                animation: slideUp 0.5s ease forwards;

              &.circular-design {
                background-color: black;
                color: white;
                animation-delay: 0.3s;
              }

              &.inclusive-business {
                background-color: transparent;
                color: black;
                animation-delay: 0.5s;

                &:hover {
                    background-color: black;
                    color: white;
                }
              }

              &.inverse-piracy {
                background-color: transparent;
                color: black;
                animation-delay: 0.7s;

                &:hover {
                    background-color: black;
                    color: white;
                }
              }
              @media (max-width: 768px) {
                width: 90%;
                font-size: 1.5em;
                padding: 15px 20px;
              }
            }
        }

        .diagram {
            width: 50%;
            text-align: center;
            opacity: 0;
            transform: translateY(50px);
            animation: slideUp 0.5s ease forwards 1s;

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.3;
                width: 100%;
            }

            @media(max-width: 768px) {
                width: 90%;
                padding-bottom: 20px;
            }
        }
    }
}


@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}